.marker {
  width: 60px;
  background-color: white;
  border: grey 2px solid;
  border-radius: 5px;
  text-align: center;
  padding: 3px;
  font-size: 14px;
}

.selectedMarker {
  background-color: black;
  color: white;
  font-weight: bold;
  margin-right: 10px;
}
